apiVersion: v1
kind: Pod
metadata:
  name: kube-scheduler
  namespace: kube-system
  labels:
    tier: control-plane
    component: kube-scheduler
spec:
  hostNetwork: true
  priorityClassName: system-node-critical
  containers:
    - name: kube-scheduler
      image: {{ kube_scheduler_image }}
      imagePullPolicy: IfNotPresent
      command:
        - kube-scheduler
      args:
        - --config={{ k8s_base_dir }}/kube-scheduler.yaml
        - --v=2
      volumeMounts:
        - name: k8s-etc
          mountPath: /etc/kubernetes
          readOnly: true
  volumes:
    - name: k8s-etc
      hostPath:
        path: /etc/kubernetes
        type: Directory
