[Unit]
Description=Kubernetes API Server
Documentation=https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/
After=network.target
Wants=network.target

[Service]
ExecStart=/usr/local/bin/kube-apiserver \
  --advertise-address={{ hostvars[groups['kube_control_plane'][0]]['ansible_host'] }} \
  --bind-address=0.0.0.0 \
  --secure-port=6443 \
  --service-cluster-ip-range={{ service_cluster_ip_range }} \
  --etcd-servers={% for host in groups['etcd'] %}https://{{ hostvars[host]['ansible_host'] }}:2379{% if not loop.last %},{% endif %}{% endfor %} \
  --etcd-cafile={{ k8s_cert_dir }}/etcd_ca.crt \
  --etcd-certfile={{ k8s_cert_dir }}/etcd_client.crt \
  --etcd-keyfile={{ k8s_cert_dir }}/etcd_client.key \
  --tls-cert-file={{ k8s_cert_dir }}/apiserver.crt \
  --tls-private-key-file={{ k8s_cert_dir }}/apiserver.key \
  --client-ca-file={{ k8s_cert_dir }}/k8s_ca.crt \
  --anonymous-auth=false \
  --authorization-mode=Node,RBAC \
  --enable-admission-plugins=NodeRestriction \
  --service-account-issuer=https://kubernetes.default.svc.cluster.local \
  --service-account-signing-key-file={{ k8s_cert_dir }}/k8s_sa.key \
  --service-account-key-file={{ k8s_cert_dir }}/k8s_sa.pub \
  --kubelet-client-certificate={{ k8s_cert_dir }}/apiserver_kubelet_client.crt \
  --kubelet-client-key={{ k8s_cert_dir }}/apiserver_kubelet_client.key \
  --kubelet-certificate-authority={{ k8s_cert_dir }}/k8s_ca.crt \
  --allow-privileged=true \
  --v=2

Restart=always
RestartSec=10
StartLimitInterval=0
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target

